.menu {}

.list {
	display: flex;
	align-items: center;
	gap: 20px;
	font-weight: 600;



}



.link {
	transition: all .3s ease-in-out;

	&.active {
		color: var(--orange);
	}

	&:hover {
		color: var(--orange);
	}
}


.active {}

.item {}