.header {
	position: fixed;
	width: 100%;
	padding: 10px 0;
	background: linear-gradient(var(--blue), var(--cyan));
	color: var(--gray-100);
	margin-bottom: 40px;
	z-index: 400;

}

.menu {
	margin-top: 5px;

	@media (max-width: 1050px) {
		display: none;
	}

}

.burgerBtnWrapper {
	position: fixed;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burgerBtnWrapper {
	display: none;
	position: absolute;

	@media (max-width: 1050px) {
		display: block;
	}

}

.container {
	display: flex;
	align-items: center;
	gap: 40px;
	justify-content: space-between;

	@media (max-width: 1050px) {
		justify-content: flex-start;
		gap: 20px;
	}

	@media (max-width: 708px) {
		justify-content: space-between;
		gap: 20px;
	}

}

.input {
	width: 100%;
}

.searchInput {
	position: relative;

	@media (max-width: 710px) {
		display: none;

		& svg {
			width: 20px;
			height: 20px;
			margin-top: 4px;

		}
	}


}

.img {
	width: 25px;
	height: 25px;
	position: absolute;
	z-index: 5;
	right: 2px;
	top: 25%;
	fill: var(--gray-600);


}

.authPanel {
	@media (max-width: 710px) {
		display: none;
	}

	@media (max-width: 425px) {
		font-size: 14px;

	}
}

.favorites {
	position: relative;
	margin-top: 5px;

	@media (max-width: 710px) {
		display: none;
	}

	&:hover {
		& svg {
			fill: var(--orange);
		}
	}

	& svg {
		width: 30px;
		height: 30px;
		transition: all .3s ease-in-out;

	}

	& span {
		position: absolute;
		bottom: 0px;
		right: -5px;
		background-color: var(--pink);
		padding: 0 5px;
		border-radius: 7px;
		font-size: 12px;
	}
}

.mobileMenuWrapper {
	opacity: 0;
	transform: translateX(-1000px);
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	top: 0;
	height: 100vh;
	width: 280px;
	background: linear-gradient(var(--blue), var(--cyan));
	display: flex;
	z-index: 1000;
	padding: 40px;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	transition: all .3s ease-in-out;

	&.open {
		opacity: 1;
		transform: translateX(0);
		visibility: visible;
	}
}

.favoritesMobile {
	display: none;

	@media (max-width: 710px) {
		display: block;
	}

}

.mobileSearch {
	display: none;

	@media (max-width: 710px) {
		display: block;
	}
}

.mobileMenu {
	font-size: 20px;
}