.detailsRecipe {
	padding-bottom: 60px;
	padding-top: 100px;

}

.pageTitle {
	margin-bottom: 40px;
}

.content {
	display: flex;
	gap: 30px;
}

.imgWrapper {
	position: relative;

}

.image {
	border-radius: 7px;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.tags {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
	text-align: center;

	&Item {
		font-size: 14px;
		padding: 7px;
		border-radius: 7px;
		color: var(--gray-100);
		font-weight: 600;
	}

	&Gluten {
		background-color: var(--indigo);
	}

	&Vegan {
		background-color: var(--warning);
		color: var(--dark);
	}

	&Vegetarian {
		background-color: var(--blue);
	}
}

.active {
	background-color: var(--indigo);
}

.btns {
	display: flex;
	gap: 20px;
	margin-bottom: 30px;

}

.ingrTitle {
	text-transform: uppercase;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.instructions {
	padding-left: 20px;

	& ol {
		list-style: none;
	}

	& li {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: -20px;
			top: 50%;
			transform: translateY(-50%);
			width: 13px;
			height: 2px;
			background-color: var(--dark);

		}
	}
}

.description {
	margin-top: 40px;
}

.favoriteBtn {
	position: absolute;
	left: 15px;
	top: -20px;
	padding: 0;
	background: none;
	box-shadow: none;

	&:hover {
		background: none;

		& svg {
			fill: var(--red);
			transform: scale(1.1);
		}
	}

	&.active {
		background: none;

		& svg {
			fill: var(--red);
			transform: scale(1.1);
		}
	}

	& svg {
		width: 40px;
		height: 40px;
		fill: var(--pink);
		transition: all .3s ease-in-out;
	}
}