.pageTitle {
	text-transform: uppercase;
	margin-bottom: 40px;

}

.list {
	display: flex;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	max-width: 300px;
	position: relative;
}


.title {
	display: block;
	position: absolute;
	z-index: 25;
	bottom: 20px;
	padding: 5px;
	left: 20px;
	right: 20px;
	background: linear-gradient(var(--blue), var(--cyan));
	color: var(--gray-100);
	text-align: center;
	border-radius: 20px;
	transition: all .3s ease-in-out;

	&:hover {
		background: linear-gradient(rgba(#378dfc, 0.8), rgba(#0dcaf0, 0.8));
		border: 1px solid var(--cyan)
	}
}

.img {
	max-width: 100%;
	object-fit: cover;

}